<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Learning Support{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px; background-color: #28a745; color: white;">
        <!-- 左側: サイトタイトル -->
        <h1 style="margin: 0; font-size: 1.5rem;">Learning Support</h1>
    
    </header>
    

    <div class="container">
        {% block content %}
        <!-- 各ページの内容 -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Learning Support</p>
    </footer>
</body>
</html>